*.o
.vscode/settings.json
test
a.out
*.swp
.DS_STORE
*.a
.test/libft
.vimrc.local
bash.txt
minishell.txt
abcd.c
efgh.c
filename
filename2
filename3
l
last.txt
ls.txt
abcd.c?
filename?
l?
last.txt?
next.c
minishell
